@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .carousel-container {
    @apply relative max-w-full md:max-w-3xl mx-auto;
  }

  .carousel-wrapper {
    @apply overflow-hidden relative rounded-lg;
  }

  .carousel-slide {
    @apply relative min-w-full flex-shrink-0;
  }

  .carousel-image {
    @apply w-full h-64 md:h-96 bg-gray-300 object-cover;
  }

  .carousel-overlay {
    @apply flex flex-col justify-between  gap-2 absolute w-full h-[350px] m-4 top-0 left-0 bg-white bg-opacity-90 p-4 md:w-80;
  }
  /* .carousel-heading&DescriptionWrapper {
    @apply flex flex-col  gap-2 absolute w-full h-[350px] m-4 top-0 left-0 bg-white bg-opacity-90 p-4 md:w-80;
  } */

  .carousel-heading {
    @apply text-2xl capitalize md:text-2xl font-bold text-red-500;
  }

  .carousel-description {
    @apply text-neutral-500 capitalize text-sm;
  }
  .carousel-overlay-button {
    @apply p-4 bg-black w-fit active:bg-neutral-700 hover:bg-neutral-700;
  }

  .carousel-button {
    @apply absolute top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 rounded-full p-2 focus:outline-none text-white;
  }

  .carousel-button-left {
    @apply left-2 md:left-4;
  }

  .carousel-button-right {
    @apply right-2 md:right-4;
  }

  .carousel-dot {
    @apply w-2 h-2 md:w-4 md:h-4 mx-1 rounded-full focus:outline-none;
  }

  .carousel-dot-active {
    @apply bg-blue-500;
  }

  .carousel-dot-inactive {
    @apply bg-gray-300;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: black;
}
