/* src/styles/scrollbar.css */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd700; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}
